@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-heading: var(--font-geist), sans-serif;
  --font-body: var(--font-nunito), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@utility main-container {
  @apply container mx-auto px-2 lg:px-16 xl:px-24;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}
.textImageBlack {
  background-image: url("/images/batmanlight.png");
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.textImage {
  background-image: url("/images/batman.png");
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
